$ns1-moduleWidth: 100px;
$ns1-moduleHeight: 100px;
$ns1-moduleBaseColor: pink;

.ns1 {
  &-Module1 {
    width: $ns1-moduleWidth;
    height: $ns1-moduleHeight;
    background: $ns1-moduleBaseColor;
    &_ChildNode1 {
      width: 50px;
      height: 50px;
      margin: 25px;
      background: orange;
      &-variation1 { background: blue; }
      &-variation2 { background: yellow; }
      &-variation3 { background: navy; }
    }
  }
}
